html {
	height: 100%;
}
body {
	min-height: 100%;
}
items:hover {
	box-shadow: 0 8px 1pc 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
#modalimg {
	width: 94% !important;
}
#authcode {
	display: none;
}
